@import "tailwindcss";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


body {
	@apply font-sans;
}

/* Force scroll to top on page load or navigation */
html {
	scroll-behavior: auto; /* reset any previous smooth scroll */
}

/* Optional: prevent modals from keeping scroll position */
.modal-open {
	overflow: hidden;
}

.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide Edge password reveal & clear icons why i did this by default edge provided it;s own hide eye symbol*/
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
